:root {
  --dark-background-color: #252b42;
  --primary-color: #23a6f0;
  --danger-color: #e74040;
  --secondary-color: #40bb15;
  --alert-color: #e77c40;
  --white-color: #fff;
  --third-color: #5aaca8;
  --second-text-color: #737373;
  --faded-primary-color: #b2e3ff;
  --pastel-color: rgba(254, 184, 150, 1);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", serif;
}

.hero {
  background-color: var(--dark-background-color);
}
header {
  width: 100%;
  background-color: var(--dark-background-color);
}
.header {
  display: flex;
  color: var(--white-color);
  height: 9rem;
  align-items: center;
  justify-content: space-between;
}
.icon-bar {
  display: none;
}
.icon-bar svg {
  fill: white;
}
.header .header__logo {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 700;
}
.header .header__navs {
  list-style: none;
  display: flex;
  height: 100%;
  align-items: center;
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 700;
  gap: 20px;
}
.header .header__nav-link a {
  color: var(--white-color);
  text-decoration: none;
  gap: 4.5rem;
}
.header .header__actions {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 4.5rem;
}
.header .header__actions a {
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--white-color);
}
.header .header__joinus {
  width: 13.7rem;
  height: 5.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  font-size: 1.4rem;
  border-radius: 0.5rem;
  background-color: var(--primary-color);
}

main {
  width: 100%;
  height: auto;
}

.hero-content {
  display: flex;
  align-items: center;
  padding: 5rem 0;
}

.hero-content__leftside {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  color: var(--white-color);
}

.hero-leftside__greeting {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--primary-color);
  font-weight: 700;
}
.hero-leftside__title {
  font-size: 5.8rem;
  line-height: 8rem;
  color: var(--white-color);
  font-weight: 700;
}

.hero-leftside__description {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 400;
}

.hero-leftside__actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.btn {
  display: flex;
  font-size: 1.4rem;
  line-height: 2.2rem;
  padding: 1.5rem 4rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
}

.btn:hover {
  cursor: pointer;
}

.btn--active {
  background-color: var(--primary-color);
  color: var(--white-color);
}
.btn--outline {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background-color: transparent;
}

.hero-content__rightside {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.hero-content__main {
  position: relative;
  width: 100%;
  max-width: 50.2rem;
  height: 55.2rem;
}
.hero-rightside__blockgreen {
  position: absolute;
  right: 0;
  top: 0;
  width: 10.6rem;
  height: 12.7rem;
  background-color: var(--third-color);
}
.hero-rightside__img-1 {
  position: absolute;
  right: 3rem;
  top: 3rem;
  width: 39rem;
  height: 46.6rem;
}
.hero-rightside__img-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-rightside__img-2 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 24.9rem;
  height: 22.9rem;
  overflow: hidden;
}
.hero-rightside__img-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.courses {
  padding: 5rem 0;
  display: flex;
  align-items: center;
}
.courses__leftside,
.courses__rightside {
  flex-basis: 50%;
}

.separent {
  width: 9.4rem;
  height: 0.7rem;
  background-color: var(--danger-color);
}
.featured-product {
  padding: 5rem 0;
  display: flex;
  align-items: center;
}
.featured-product__leftside,
.featured-product__rightside {
  flex-basis: 50%;
}
.featured-product__leftside {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}
.courses__leftside .wrapper {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}
.courses__leftside {
  display: flex;
  align-items: center;
  justify-content: start;
}
.courses-leftside__title,
.featured-product-rightside__title {
  color: var(--dark-background-color);
  font-size: 4rem;
  line-height: 5rem;
  font-weight: 700;
}
.courses-leftside__description,
.featured-product-rightside__description {
  max-width: 35.1rem;
  text-wrap: wrap;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 700;
  color: var(--second-text-color);
}
.courses-leftside__learn,
.featured-product-rightside__learn {
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 700;
}
.courses__rightside {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 3rem;
}
.courses__rightside .col-2-1,
.courses__rightside .col-2-2 {
  flex-basis: 50%;
}
.courses__rightside .col-2-1 {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.card {
  width: 23.7rem;
  height: 29.2rem;
  padding: 3.5rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-shadow: 0 1.3rem 1.9rem 0 rgba(0, 0, 0, 0.07);
}

.card-icon {
  width: 7rem;
  height: 7.6rem;
  background-color: var(--faded-primary-color);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  font-size: 1.8rem;
}
.card__title {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--dark-background-color);
  font-weight: 700;
}
.card__separent {
  width: 5rem;
  height: 0.2rem;
  background-color: var(--danger-color);
}
.card__description {
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 400;
  color: var(--second-text-color);
}

.courses__rightside .col-2-2 {
  width: 100%;
  display: flex;
  align-items: center;
}

.featured-product__leftside {
  display: flex;
  align-items: center;
  justify-content: start;
}
.featured-product__leftside-wrapper {
  width: 100%;
  max-width: 50.8rem;
  height: 55.2rem;
  position: relative;
}

.featured-product-leftside__faded-bg {
  position: absolute;
  right: 0;
  top: 0;
  width: 11.6rem;
  height: 13.8rem;
  background-color: var(--faded-primary-color);
}

.featured-product__rightside {
  display: flex;
  //align-items: end;
  justify-content: end;
}

.featured-product__rightside .wrapper {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}
.featured-product-leftside__main-img {
  position: absolute;
  width: 42.5rem;
  height: 50.6rem;
  right: 3rem;
  top: 3rem;
  overflow: hidden;
}
.featured-product-leftside__main-img img {
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  object-fit: cover;
}
.featured-product-leftside__pastel-bg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 5.9rem;
  height: 5.9rem;
  border-radius: 100%;
  background-color: var(--pastel-color);
  z-index: -1;
}
.packages,
.feedback {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  padding: 5rem 0;
}
.packages__head,
.feedback__head {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.packages__head-tag,
.feedback__head-tag {
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 700;
  color: var(--primary-color);
}
.packages__head-title,
.feedback__head-title {
  font-size: 4rem;
  line-height: 5rem;
  color: var(--dark-background-color);
  font-weight: 700;
}

.packages__head-description,
.feedback__head-description {
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 400;
  color: var(--second-text-color);
}

.packages__main,
.feedback__main {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.packages__main-card {
  flex-basis: calc(100% / 3);
  display: flex;
  flex-direction: column;
}

.packages__main-card-img {
  width: 100%;
  height: 30rem;
  position: relative;
}

.packages__main-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-img__tag,
.card-img__actions {
  position: absolute;
}

.card-img__tag {
  width: 5rem;
  height: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  background-color: var(--danger-color);
  top: 20px;
  left: 20px;
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 700;
  border-radius: 0.3rem;
}
.card-img__actions {
  display: flex;
  align-items: center;
  gap: 1rem;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.card-img__action-item {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white-color);
  border-radius: 100%;
  color: black;
}
.packages__main-card-wrapper {
  width: 100%;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.packages__main-card-tag {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.packages__main-card-tag p {
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: var(--primary-color);
  font-weight: 700;
}
.packages__main-card-tag div {
  width: 5rem;
  height: 2.6rem;
  border-radius: 2rem;
  background-color: var(--dark-background-color);
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: 400;
}
.packages__main-card-title {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--dark-background-color);
  font-weight: 700;
}

.packages__main-card-desc {
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 400;
  color: var(--second-text-color);
}
.packages__main-card-download {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: var(--second-text-color);
  font-weight: 700;
}
.packages__main-card-price {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 700;
}

.price--old {
  color: var(--second-text-color);
}

.price--new {
  color: var(--secondary-color);
}
.packages__main-card-infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4.6rem;
}
.info-time,
.info-lessons,
.info-progress {
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: 400;
  color: var(--second-text-color);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.btn__learn-more {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 700;
  border-radius: 3.7rem;
}
.feedback-container {
  background-color: var(--dark-background-color);
}
.feedback__head-title,
.feedback__head-description {
  color: var(--white-color);
}
.feedback__card {
  flex-basis: calc(100% / 3);
  height: 31.7rem;
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.feedback__card-stars {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.feedback__card-cmt {
  max-width: 20rem;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 400;
  color: var(--second-text-color);
  text-align: center;
}
.feedback__card-user {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.user-avatar {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  overflow: hidden;
}
.user-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.user-info p:first-child {
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: var(--primary-color);
  font-weight: 700;
}
.user-info p:last-child {
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: var(--second-text-color);
  font-weight: 400;
}

.join-us {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.join-us__tag {
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 700;
  color: var(--primary-color);
}
.join-us__title {
  color: var(--dark-background-color);
  font-size: 4rem;
  line-height: 5rem;
  font-weight: 700;
}
.join-us__desc {
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: var(--second-text-color);
  font-weight: 400;
  max-width: 46.9rem;
  text-align: center;
}
.join-us__contact {
  width: 68.8rem;
  height: 5.8rem;
  display: flex;
  align-items: center;
}
.join-us__contact button {
  width: 11.7rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: var(--white-color);
  border: none;
  outline: none;
  border-radius: 0 0.5rem 0.5rem 0;
  font-size: 1.4rem;
  line-height: 2.8rem;
  font-weight: 400;
}

.join-us__contact input {
  background-color: rgba(249, 249, 249, 1);
  flex: 1;
  height: 100%;
  padding-left: 1.5rem;
  border: none;
  outline: none;
  border-radius: 0.5rem 0 0 0.5rem;
  border: 1px solid rgba(230, 230, 230, 1);
}
.footer {
}

.footer-top {
  padding: 5rem 0;
  display: flex;
  align-items: center;
  gap: 3rem;
}
.footer-top .col {
  flex-basis: calc(100% / 4);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-top .col p {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 700;
  color: var(--dark-background-color);
}

.footer-top .col ul {
  list-style: none;
  diplay: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-top .col ul li {
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 700;
  color: var(--second-text-color);
}
.footer-bottom {
  width: 100%;
  height: 7.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(250, 250, 250, 1);
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 700;
  color: var(--second-text-color);
}

@media only screen and (max-width: 576px) {
  .container {
    padding: 5rem 1.5rem;
  }
  .header .header__navs,
  .header .header__actions {
    display: none;
  }
  .icon-bar {
    display: block;
    width: 3rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero-content {
    flex-direction: column;
    gap: 5rem;
  }
  .hero-content__leftside,
  .hero-content__rightside {
    width: 100%;
  }
  .hero-leftside__title {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
  .hero-rightside__img-1 {
    width: auto;
  }
  .featured-product-leftside__main-img {
    width: auto;
  }
  .courses {
    flex-direction: column;

    gap: 3rem;
  }
  .courses__leftside,
  .courses__rightside {
    width: 100%;
  }
  .courses__rightside {
    flex-direction: column;
  }
  .courses__rightside .col-2-1,
  .courses__rightside .col-2-2 {
    width: 100%;
  }
  .card {
    width: 100%;
  }
  .featured-product {
    flex-direction: column;
    gap: 3rem;
  }
  .featured-product__leftside,
  .featured-product__rightside {
    width: 100%;
  }
  .featured-product__rightside {
    justify-content: start;
  }
  .packages__main,
  .feedback__main {
    flex-direction: column;
  }
  .packages__main-card,
  .feedback__card {
    flex-basis: none;
    width: 100%;
  }
  .feedback__card {
    padding: 5rem 0;
  }
  .join-us__contact {
    width: 100%;
  }
  .footer-top {
    flex-direction: column;
  }
  .footer-top .col {
    width: 100%;
  }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  .container {
    padding: 5rem 2.5rem;
  }
  .header .header__navs,
  .header .header__actions {
    display: none;
  }
  .hero-content {
    flex-direction: column;
    gap: 5rem;
  }
  .hero-content__leftside,
  .hero-content__rightside {
    width: 100%;
  }

  .courses {
    flex-direction: column;

    gap: 3rem;
  }
  .courses__leftside,
  .courses__rightside {
    width: 100%;
  }
  .courses__rightside {
    flex-direction: column;
  }
  .courses__rightside .col-2-1,
  .courses__rightside .col-2-2 {
    width: 100%;
  }
  .card {
    width: 100%;
  }
  .featured-product {
    flex-direction: column;
    gap: 3rem;
  }
  .featured-product__leftside,
  .featured-product__rightside {
    width: 100%;
  }
  .featured-product__rightside {
    justify-content: start;
  }
  .packages__main,
  .feedback__main {
    flex-direction: column;
  }
  .packages__main-card,
  .feedback__card {
    flex-basis: none;
    width: 100%;
  }
  .feedback__card {
    padding: 5rem 0;
  }
  .join-us__contact {
    width: 100%;
  }
  .footer-top {
    flex-direction: column;
  }
  .footer-top .col {
    width: 100%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .icon-bar {
    display: none;
  }
}
